* {
  box-sizing: border-box;
}

html {
  height: 25vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  font-family: 'Segoe UI',sans-serif;
  color: #b02c65;
  font-size: medium;
  font-weight: bold;
  
}


id.id {
  margin-left
}
article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: powderblue;
  background: linear-gradient(#bf7476(#bf7494) 40%, #bf7494 100%);
  
}

h1 {
  margin: 2rem 0 1rem;
  color: rgb(50, 148, 167);
  font-family: monospace;
  font-size: xx-large; 
  text-shadow: #b36485;

}d


img {
  position: relative;
  top: 1rem;
  width: 10em;
  height: auto;
  border: 5px solid #a93668;
  border-radius: 15%;
  margin-top: -1%;

}

dl {
    width: 100%;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(135, 207, 224);
  margin-right: 0%;
  
}

dt {
  width: 100%;
  margin-top: 0rem;
  padding-top: 0rem;
  margin-left: 5%;
  
}
div {
  width: 100%;
  margin-top: -6.5rem;
  padding-top: 0rem;
  margin-left:115%;
}
dt:nth-of-type(1) {
  
}
dt:nth-of-type(2) {
  transform: translateY(1rem);
}


p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 15 15 15rem 15rem;
  text-align: center;
  background: rgba(54, 159, 192, 0.5);
}

